<div class="page-signup">
  <div class="container container-fluid">
    <div class="col-sm-6 image-container">
      <img src="./img/main.svg" alt="some-image" height="100%" />
    </div>
    <div class="col-sm-6 form-container">
      <form [formGroup]="loginForm">

        <md-input-container>
          <input mdInput placeholder="Email" formControlName="email" type="email" size="25" />
        </md-input-container>

        <p-messages [value]="msgs"></p-messages>
        <md-input-container>
          <input mdInput type="password" placeholder="Password" formControlName="password" />
        </md-input-container>


        <button pButton type="button" (click)="onsubmit()" class="form-button">Sign Up</button>
      </form>
    </div>
  </div>
</div>
