<div class="row-fluid">
  <div class="col-sm-8 coloumn-container">
    <div class="col-sm-12" style="margin-bottom: 10px;">
      <md-card class="no-padding">
        <md-tab-group>
          <md-tab label="All Company">
            <h3 class="md-title">Select a company</h3>
            <md-list class="company-list">
              <md-list-item class="hvr-sweep-to-right" (click)="selectCompany(company)" *ngFor="let company of companies">
                {{company.name}}
              </md-list-item>
            </md-list>
          </md-tab>
          <md-tab label="Add Company">
            <header class="header-under">
              <h3>Enter Detail</h3>
            </header>
            <form class="company-form" [formGroup]="addCompanyForm">
              <md-input-container> <input mdInput type="text" formControlName="name" placeholder="Name Of Company" required /></md-input-container>
              <md-input-container> <input mdInput type="text" formControlName="alias_name" placeholder="Alias Name" required /></md-input-container>
              <md-input-container> <input mdInput type="email" formControlName="email" placeholder="E-Mail" required /></md-input-container>
              <md-input-container> <input mdInput type="text" formControlName="address" placeholder="Address Of Company"></md-input-container>
              <md-input-container> <input mdInput type="text" formControlName="country" placeholder="Country"></md-input-container>
              <md-input-container> <input mdInput type="text" formControlName="city" placeholder="City"></md-input-container>
              <md-input-container><input mdInput type="text" formControlName="state" placeholder="State"></md-input-container>
              <md-input-container><input mdInput type="text" formControlName="pin_code" placeholder="Pin Code"></md-input-container>
              <md-input-container><input mdInput type="number" formControlName="telephone_number" placeholder="Phone Number"></md-input-container>
              <md-input-container><input mdInput type="text" formControlName="currency_symbols" placeholder="Currency Symbol" required></md-input-container>
              <md-input-container><input mdInput type="date" placeholder="Financial Year from" formControlName="financial_year_from" required></md-input-container>
              <md-input-container><input mdInput type="date" placeholder="Book Keeping from" formControlName="books_beginning_from" required></md-input-container>
              <md-slide-toggle (change)="change_accounts_with_inventory()" fromControlName="accounts_with_inventory">Accounts with inventory?</md-slide-toggle>
              <md-slide-toggle (change)="change_show_amounts_in_millions()" fromControlName="show_amounts_in_millions">Show In Million?</md-slide-toggle>
              <button (click)="addCompany()" md-button style="z-index: 1000;" type="submit" class="form-button">Submit</button>
            </form>
          </md-tab>
          <md-tab *ngIf="selectedCompany" label="Edit Company">
            <h3 class="md-title">Edit {{selectedCompany.name}}</h3>
            <hr>
            <form class="company-form" [formGroup]="addCompanyForm">
              <md-input-container> <input value="{{selectedCompany.name}}" mdInput type="text" formControlName="name" placeholder="Name Of Company"
                  required></md-input-container>
              <md-input-container> <input value="{{selectedCompany.alias_name}}" mdInput type="text" formControlName="alias_name" placeholder="Alias Name"
                  required></md-input-container>
              <md-input-container> <input value="{{selectedCompany.email}}" mdInput type="email" formControlName="email" placeholder="E-Mail"
                  required></md-input-container>
              <md-input-container> <input value="{{selectedCompany.address}}" mdInput type="text" formControlName="address" placeholder="Address Of Company"></md-input-container>
              <md-input-container> <input value="{{selectedCompany.country}}" mdInput type="text" formControlName="country" placeholder="Country"></md-input-container>
              <md-input-container> <input value="{{selectedCompany.city}}" mdInput type="text" formControlName="city" placeholder="City"></md-input-container>
              <md-input-container><input value="{{selectedCompany.state}}" mdInput type="text" formControlName="state" placeholder="State"></md-input-container>
              <md-input-container><input value="{{selectedCompany.pin_code}}" mdInput type="text" formControlName="pin_code" placeholder="Pin Code"></md-input-container>
              <md-input-container><input value="{{selectedCompany.telephone_number}}" mdInput type="number" formControlName="telephone_number"
                  placeholder="Phone Number"></md-input-container>
              <md-input-container><input value="{{selectedCompany.currency_symbols}}" mdInput type="text" formControlName="currency_symbols"
                  placeholder="Currency Symbol" required></md-input-container>
              <button (click)="addCompany()" md-button style="z-index: 1000;" type="submit" class="form-button">Submit</button>
            </form>
          </md-tab>
        </md-tab-group>
      </md-card>
    </div>
  </div>
  <div class="col-sm-4 recent_activity animated fadeIn" *ngIf="selectedCompany">
    <md-card>
      <h3 class="md-title">Recent Activities for {{selectedCompany.name}}</h3>
      <hr>
      <ul>
        <li *ngFor="let activity of activities">
          <h5>{{activity.name}}</h5>
          <p>{{selectedCompany.currency_symbols}} {{activity.amount}}</p>
          <p>{{activity.date | date: 'dd/MM/yyyy'}}</p>
        </li>
      </ul>
    </md-card>
  </div>
</div>