<div class="container-fluid animated slideInDown">
  <div class="row">
    <div class="col-sm-4 no-padding">
      <user-detail></user-detail>
    </div>

    <div class="col-sm-4 margin-t-10">
      <md-card>
        <h3 class="md-title">Select a Company</h3>
        <hr>
        <md-list class="company-list ">
          <md-list-item class="hvr-sweep-to-right " (click)="selectCompany(company) " *ngFor="let company of companies ">
            {{company.name}}
          </md-list-item>
        </md-list>
      </md-card>
    </div>

    <div class="col-sm-8 margin-t-10">
      <report *ngIf="selectedCompany" [company]="selectedCompany"></report>
    </div>
  </div>
</div>
