md-card{
  width: 100%;
  @include form-input();
  padding-bottom: 20px;
}
.mat-grid-tile .mat-figure{
  align-items:flex-start !important;
}

.header-under{
  background: none;
  box-shadow: none;
  color: $base-head;
}

.mat-tab-body-content{
  padding: 5px;
}