$pg-bg: #dcdcdc;
$rr-bg: #232E39;
$rr-bg-hover: darken($rr-bg, 10%);

$rr-height: 300px;
$rr-slant: 100px;
$rr-gutter: 1%;
$rr-width: 50%;

.dashboard-header {
  font-size: 1em;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 50px;
  @media screen and (max-width: 768px) {
    height: auto;
  }
  transition: .5s;

  h3 {
    float: left;
  }

  li {
    cursor: pointer;
  }
}

.hidden-button {
  visibility: hidden;
  width: 0;
  height: 0;
}

.example-container {
  padding: 0;
  width: 100%;
  height: 100vh;

  md-sidenav {
    visibility: visible;
    width: 300px;
    background: $child-head;
    color: black;
    height: 100vh;
    z-index: 2;
  }

  .sidenav-internal {
    padding: 0;
    margin-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    background: white;
    color: white;
    @media screen and (max-width: 768px) {
      margin-top: 50px;
    }
    overflow: hidden;
  }

  .icon-list {
    position: fixed;
    background: $color2;
    margin-top: 10px;
    padding: 10px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 70px;
    text-align: center;
    height: 200vh;
    @media screen and (max-width: 768px) {
      display: none;
    }

    &:hover {
      width: 500px;
    }

    i {
      color: white;
    }
    transition: 1s;
  }

  a {
    text-decoration: none;
    color: inherit;
    outline: none;
  }
}

.dashboard-list {
  md-list {
    width: 100%;

    a {
      width: 100%;

      md-list-item {
        color: black;

        .mat-list-item-content {
          color: black;
        }
      }
    }
  }
}

.main-container {
  width: 100%;
  padding: 5px 5px 5px 0;

  .container-right {
    margin-top: 30px;
    margin-left: 80px;
    @media screen and (max-width: 768px) {
      margin-top: 110px;
      margin-left: 10px;
    }
  }
}

.left-list-obj {
  position: absolute;
  left: 5px;
}

.right-list-obj {
  position: absolute;
  right: 5px;
}

.center-list-obj {
  position: absolute;
  left: 50px;
}

.mat-sidenav-content::-webkit-scrollbar {
  width: 5px;
  background-color: none;
}

.mat-sidenav-content::-webkit-scrollbar-thumb {
  background-color: rgba(2, 24, 43, .5);
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 15%, transparent 30%, rgba(255, 255, 255, .2) 30%, rgba(255, 255, 255, .2) 55%, transparent 55%, transparent);
}

.mat-sidenav-content {
  overflow-x: hidden;
}

.cdk-focus-trap-content {
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
}

.side-bar-ativate {
  visibility: hidden;
  font-size: 1em;
}
@media screen and (max-width: 768px) {
  .side-bar-ativate {
    visibility: visible;
  }
}

table.two-tr-table {
  width: 100%;

  tr {
    th {
      color: $highlight;
      padding: 10px;
    }

    td {
      padding: 10px;
    }

    &:nth-child(odd) {
      border-bottom: 2px solid $highlight;
    }
  }
}

.table-with-header {
  @extend table.two-tr-table;
  width: 50%;
  @media screen and (max-width: 768px) {
    width: 97%;
  }

  h4,
  h5 {
    background: $color1;
    width: 187.5%;
    color: white;
    padding: 10px;
    margin: 0;
    border-bottom: 1px $color1 solid;
  }

  tr {
    &:nth-child(odd) {
      border-bottom: none;
      background: #eee;
    }
  }

  &:nth-child(odd) {
    border-right: 1px $color1 solid;
  }
}

.user-card {
  background: $child-head;

  height: $rr-height;

  h2 {
    text-transform: uppercase;
  }

  .rr > div {
    text-align: center;
  }

  // Construct the rectangles
  .rr {
    position: relative;
    height: $rr-height;
    background: $child-head;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    &.rr-left {
      z-index: 1;
      float: left;
      width: $rr-width + 5%; // + 5% adjustment for slant offset
    }

    &.rr-right {
      z-index: 2;
      float: right;
      width: $rr-width - $rr-gutter - 5%; // - 5% adjustment for slant offset
    }
  }

  // Add slanted edges
  .rr:after,
  .rr:before {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
  }

  .rr-left:after {
    right: 0;
    border-left: $rr-slant solid transparent;
    border-bottom: $rr-height solid $pg-bg;
  }

  .rr-right:before {
    left: -$rr-slant;
    border-right: $rr-slant solid $child-head;
    border-top: $rr-height solid rgba(0, 0, 0, 0); // overlaps .rr-left
  }

  // Add padding around inner content
  .rr-left > div {
    margin-right: $rr-slant;
    margin-left: $rr-slant/2;
  }

  .rr-right > div {
    margin-right: $rr-slant/2;
    margin-left: $rr-slant/4;
  }
}
@import '_company.scss';
@import '_ledgers.scss';