.dashboard-header {
    font-size: 1em;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 50px;
    @media screen and (max-width: 768px) {
        height: auto;
    }
    transition: .5s;
    h3 {
        float: left;
    }
    li {
        cursor: pointer;
    }
}

.hidden-button {
    visibility: hidden;
    width: 0;
    height: 0;
}

.example-container {
    padding: 0;
    width: 100%;
    height: 100vh;
    md-sidenav {
        visibility: visible;
        width: 300px;
        background: white;
        color: $color1;
        height: 100vh;
    }
    .sidenav-internal {
        padding: 0;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 100%;
        background: white;
        @media screen and (max-width: 768px) {
            margin-top: 50px;
        }
        overflow: hidden;
    }
    .icon-list {
        position: fixed;
        background: white;
        margin-top: 10px;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 70px;
        text-align: center;
        height: 200vh;
        @media screen and (max-width: 768px) {
            display: none;
        }
        &:hover {
            width: 500px;
        }
        i {
            color: $color2;
        }
        transition: 1s;
    }
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: white;
            background: $color1;
        }
    }
}

.dashboard-list {
    md-list {
        width: 100%;
        a {
            width: 100%;
            md-list-item {
                &:hover {
                    background: $color1;
                    color: white;
                }
            }
        }
    }
}

.main-container {
    width: 100%;
    padding: 5px;
    .container-right {
        margin-top: 30px;
        margin-left: 80px;
        @media screen and (max-width: 768px) {
            margin-top: 110px;
            margin-left: 10px;
        }
    }
}

.left-list-obj {
    position: absolute;
    left: 5px;
}

.right-list-obj {
    position: absolute;
    right: 5px;
}

.center-list-obj {
    position: absolute;
    left: 50px;
}

.cdk-focus-trap-content::-webkit-scrollbar {
    width: 5px;
    background-color: none;
}

.cdk-focus-trap-content::-webkit-scrollbar-thumb {
    background-color: rgba(2, 24, 43, .5);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 15%, transparent 30%, rgba(255, 255, 255, .2) 30%, rgba(255, 255, 255, .2) 55%, transparent 55%, transparent)
}

.mat-sidenav-content::-webkit-scrollbar {
    width: 5px;
    background-color: none;
}

.mat-sidenav-content::-webkit-scrollbar-thumb {
    background-color: rgba(2, 24, 43, .5);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 15%, transparent 30%, rgba(255, 255, 255, .2) 30%, rgba(255, 255, 255, .2) 55%, transparent 55%, transparent)
}

.side-bar-ativate {
    visibility: hidden;
    font-size: 1em;
}

@media screen and (max-width: 768px) {
    .side-bar-ativate {
        visibility: visible;
    }
}

@import '_company.scss';
@import '_ledgers.scss';