<div class="row" class="ledger-container" *ngIf="ledgers">
  <div class="col-sm-8 ledger-form-container no-padding animated slideInDown">
    <md-tab-group>
      <md-tab class="padding-5" label="Available Ledgers" *ngIf="ledgers.length > 0">
        <md-list class="ledger-list">
          <md-list-item (click)="selectLedger(ledger)" *ngFor="let ledger of ledgers">{{ledger.name}}</md-list-item>
        </md-list>
      </md-tab>
      <md-tab class="padding-5" label="Add Ledgers">
        <form [formGroup]="addLedgerForm">
          <md-input-container> <input mdInput type="text" formControlName="name" placeholder="Name Of Ledgers" required /></md-input-container>
          <md-input-container> <input mdInput type="number" formControlName="opening_balance" placeholder="Openbing Balance" required /></md-input-container>
          <md-select (change)="select_accounts($event)" placeholder="Select Group">
            <md-option *ngFor="let account of accounts" [value]="account">{{ account }}</md-option>
          </md-select>
          <md-slide-toggle (change)="change_inventory()">Affects Inventory?</md-slide-toggle>
          <md-card *ngIf="error">
            <h3 class="md-title" style="color:red;">Ledger Already Exist! Change name</h3>
          </md-card>
          <button (click)="addLedger()" md-button style="z-index: 1000;" type="submit" class="form-button">Submit</button>
        </form>
      </md-tab>
    </md-tab-group>
  </div>
  <div class="col-sm-4 no-padding-mobile animated fadeIn">
    <md-card>
      <h5 *ngIf="!selectedCompany">No company selected. Please Select a company from company tab.</h5>
      <h5 *ngIf="selectedCompany">Using {{selectedCompany}}</h5>
    </md-card>
  </div>
  <div *ngIf="selectedLedger" class="col-sm-8 animated fadeIn no-padding">
    <md-card>
      <h3 class="md-title">{{selectedLedger.name}}</h3>
      <p>{{selectedLedger.opening_balance}}</p>
      <p>{{selectedLedger.groups}}</p>
    </md-card>
  </div>
</div>
