 <div class="no-padding user-card margin-t-10">
        <div class="rr rr-left">
          <img src="http://cdn.playbuzz.com/cdn/05612ae3-0911-4e51-8ff5-0c5b1b580cbf/5c212545-2724-4231-9805-82e931028689.jpg" width="100%"
            height="100%">
        </div>
        <div class="rr rr-right">
          <div>
            <h2>Welcome</h2>
            <p *ngIf="user">{{user.email}}</p>
            <a md-mini-fab>
              <md-icon>mode_edit</md-icon>
            </a>
          </div>
        </div>
      </div>