<div class="container-fluid">
  <div class="row vouchers-container">
    <div class="col-sm-8 voucher-form-container no-padding" *ngIf="ledgers">

      <md-tab-group>
        <md-tab label="Journal">
          <journal [ledgers]="ledgers" [filteredLedger]="ledgers"></journal>
        </md-tab>

        <md-tab label="Sales">
          <br>
        </md-tab>

        <md-tab label="Purchase">
          <br>
        </md-tab>

        <md-tab label="Income">
          <br>
        </md-tab>

        <md-tab label="Expense">
          <br>
        </md-tab>

      </md-tab-group>
    </div>

    <div class="col-sm-4 no-padding-mobile">
      <md-card>
        <h5 *ngIf="!selectedCompany">No company selected. Please Select a company from company tab.</h5>
        <h5 *ngIf="selectedCompany">Using {{selectedCompany}}</h5>
      </md-card>
    </div>



  </div>
</div>