<div class="page-signup">
  <div class="container container-fluid">
    <div class="col-sm-6 image-container">
      <img src="./img/main.svg" alt="some-image" height="100%" />
    </div>
    <div class="col-sm-6 form-container">
      <form [formGroup]="signupform">
        <md-input-container>
          <input mdInput formControlName="name" placeholder="Name" type="text" [(ngModel)]="name" pInputText/>
        </md-input-container>

        <md-input-container>
          <input mdInput formControlName="email" placeholder="Email" type="email" size="25" [(ngModel)]="email" />
        </md-input-container>

        <md-input-container>
          <input mdInput formControlName="number" placeholder="Phone" type="number" size="50" [(ngModel)]="phone" />
        </md-input-container>

        <p-messages [value]="msgs"></p-messages>
        <md-input-container>
          <input mdInput type="password" placeholder="Password" formControlName="password" />
        </md-input-container>

        <md-input-container>
          <input mdInput type="password" placeholder="Retype Password" formControlName="password2" />
        </md-input-container>

        <button md-button type="button" (click)="onsubmit()" class="form-button">Sign Up</button>
      </form>
    </div>
  </div>
</div>
