<div class="page-signup">
    <div class="container container-fluid">
        <div class="col-sm-6 image-container">
            <img src="./img/main.svg" alt="some-image" height="540px" />
        </div>
        <div class="col-sm-6 form-container">
            <form [formGroup]="signupform" (ngSubmit)="submit($event)">
                <md-input-container>
                    <input mdInput formControlName="name" placeholder="Name" type="text" [(ngModel)]="name" />
                </md-input-container>

                <md-input-container>
                    <input mdInput formControlName="email" placeholder="Email" type="email" size="25" [(ngModel)]="email" />
                </md-input-container>

                <md-input-container>
                    <input mdInput formControlName="phone" placeholder="Phone" type="number" size="50" [(ngModel)]="phone" />
                </md-input-container>

                <md-input-container>
                    <input mdInput formControlName="username" placeholder="Username" type="text" size="50" />
                </md-input-container>

                <md-input-container>
                    <input mdInput formControlName="firstname" placeholder="Firstname" type="text" size="50" />
                </md-input-container>

                <md-input-container>
                    <input mdInput formControlName="lastname" placeholder="Lastname" type="text" size="50" />
                </md-input-container>

                <md-input-container>
                    <input mdInput formControlName="datejoined" placeholder="Datejoined" type="date" size="50" />
                </md-input-container>

                <p-messages [value]="msgs"></p-messages>
                <md-input-container>
                    <input mdInput type="password" placeholder="Password" formControlName="password1" [(ngModel)]="password1" />
                </md-input-container>

                <md-input-container>
                    <input mdInput type="password" placeholder="Retype Password" formControlName="password2" [(ngModel)]="password2" />
                </md-input-container>

                <button pButton type="button" (click)="onsubmit()" class="form-button">Sign Up</button>
            </form>
        </div>
    </div>
</div>
